/*Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

root{
    --primary: #EA40A4;
    --personal:#3a82ee;
    --work: cyan;
    --light: #eee;
    --dark: #313154;
    --grey: #888;
    --delete:  #ff5b57;
    --shadow: 0 1px 3px rgba(0,0,0,0.1);
}

/* RESET */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  
}

/* Reset borders of input and button elements */
input:not([type="radio"]):not([type="checkbox"]), button {
    appearance: none;
    border: none;
    background: none;
}

/* input[type="radio"], input[type="checkbox"]{
   display: none;
} */

body{
    background-color: #fab8ba;
}

section{
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

h3 {
    font-size:  1rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
}

h4 {
    color: var(--grey);
    font-size: 0.8rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}







.intro h3{
    background: -webkit-linear-gradient(#313154 0%, #f68084);
    font-size: 2em;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.taskui input[type="text"]{
    display: block;
    width: 100%;
    padding: 1rem 1.5rem;
    color: var(--dark);
    background-color: #FFF;
    border-radius: 0.5rem;
    box-shadow: var(--shadow);
    margin-bottom: 1.5rem;
}


.taskui .priority {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-bottom: 1.5rem;
    grid-auto-flow:column ;
}






.priority label {
    display: inline-block;
    background-color: #fff;
    border-radius: 0.5rem;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    box-shadow: var(--shadow);
    cursor: pointer;
}


.priority {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-bottom: 1.5rem;
    grid-auto-flow:column ;
}

.prior input[type="radio"] {
    position: absolute;
    opacity: 0;
}


.prior-content {
    display: flex;
    padding: 2rem;
    border-radius: 1rem;
    position: relative;
    justify-content: center;
}  


.prior input[type="radio"]:checked + .prior-content:after {
    content: "";
    position: absolute;
    background: #216fe0;
    transition: ease-in 0.3s;
}


.prior input[type="radio"]:checked + .prior-content {
    border: 2px solid #216ee0;
    background: #eaf1fe;
    transition: ease-in 0.3s;
}




.taskui input[type="submit"] {
    display: block;
    width: 100%;
    font-size: 1.15rem;
    padding: 1rem 1.15rem;
    color: #ffff;
    background-color: #FF5786;
    border-radius: 0.5rem;
    transition: 0.2s ease-in-out;
}

.taskui input[type="submit"]:hover {
    opacity: 0.75;
}



.taskbox{
    margin: 1rem 0;
}

.taskitems {
 display: flex;
 align-items: center;
 background-color: #fff;
 padding: 1rem;
 border-radius: 0.5rem;
 margin-bottom: 1rem;
}

.taskitems label{
    display: block;
    margin-right: 1rem;
    cursor: pointer;
}

.taskcontent{
    flex: 1 1 0%;
}

.taskcontent{
    color: var(--dark);
    font-size: 1.125rem;
}

.taskbuttons{
    display: flex;
    align-items: center;
}

.taskbuttons button{
    display: block;
    padding: 0.5rem;
    border-radius: 0.25rem;
    background-color: #fff;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    margin: 0 0.5rem 0 0;
}

.taskbuttons button:hover{
opacity: 0.75;
}


.taskbuttons .edit{
    background-color: #FF5786;
}

.taskbuttons .delete{
    background-color: #FF7D6B;
}

.done input{
  text-decoration: line-through;
}




/* DYNAMIC TIME & DATE */
.timedate{}

.time span {
    color: #5E3C61;
    font-size: 5rem;
    font-weight: 500px;
}

.date span {
    color: #5E3C61;
}


