/*Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root{

    --bg: #fde7e8;
    --text: #17181e;
    --light: #00c9b0;
    --dark:  #653b85;
    --shadow: 0 1px 3px rgba(0,0,0,0.1);
}

/* RESET */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  
}

/* Reset borders of input, radio button. checkbox, buttons*/
input:not([type="radio"]):not([type="checkbox"]), button, textarea {
    appearance: none;
    border: none;
    background: none;
}

/* input[type="radio"], input[type="checkbox"]{
   display: none;
} */

body{
    background-color: var(--bg);
}

section{
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

h3 {
    font-size:  1.5rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.fa-user{
    font-size: 1.35rem;
    margin-right: 0.5rem;
    color: var(--dark);
}


.fa-briefcase{
    font-size: 1.35rem;
    margin-right: 0.5rem;
    color: var(--dark);
}

.icon{
    font-size: 1rem;
    margin-right: 1.2rem;
    color: var(--dark);
}

.user::before {
    content: '\f007';
    font: var(--fa-font-solid);
  }

  .briefcase::before {
    content: '\f0b1';
    font: var(--fa-font-solid);
  }


.clock{
    margin-top: 4rem;
}

.taskui{
    margin-top: 4rem;
}

.tasklist{
    margin-top: 4rem;
}

.intro h3{
    background: -webkit-linear-gradient(#00c9b0 0%, #653b85 1%);
    font-size: 2em;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.taskui input[type="text"]{
    display: block;
    width: 100%;
    padding: 1rem 1.5rem;
    color: var(--text);
    background-color: #FFF;
    border-radius: 0.5rem;
    box-shadow: var(--shadow);
    margin-bottom: 1.5rem;
}


.taskui .priority {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-bottom: 1.5rem;
    grid-auto-flow:column ;
}






.priority label {
    display: inline-block;
    background-color: #fff;
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.priority {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-bottom: 1.5rem;
    grid-auto-flow:column ;
}

.prior input[type="radio"] {
    position: absolute;
    opacity: 0;
}


.prior-content {
    display: flex;
    padding: 2rem;
    border-radius: 1rem;
    position: relative;
    justify-content: center;
}  


.prior input[type="radio"]:checked + .prior-content:after {
    content: "";
}


.prior input[type="radio"]:checked + .prior-content {
    border: 2px solid var(--light);
    background: #fff;
    transition: ease-in 0.3s;
}



/* Add Task Button */
.taskui input[type="submit"] {
    display: block;
    width: 100%;
    font-size: 1.15rem;
    padding: 1rem 1.15rem;
    color: #ffff;
    background-color: var(--light);
    border-radius: 0.5rem;
    transition: 0.2s ease-in-out;
}

.taskui input[type="submit"]:hover {
    opacity: 0.75;
}



.tasknote{
    margin: 1rem 0;
}

.taskitems {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 1rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

.taskitems label{
    display: block;
    margin-right: 1rem;
    cursor: pointer;
}

.taskcontent {
    flex: 1 1 0%;
    color: var(--dark);
    font-size: 1rem;
}


.taskbuttons{
    display: flex;
    align-items: center;
}

.taskbuttons button{
    display: block;
    padding: 0.5rem;
    border-radius: 0.25rem;
    background-color: #fff;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    margin: 0 0.5rem 0 0;
}

.taskbuttons button:hover{
opacity: 0.75;
}




/* Task Button - Edit & Delete */
.taskbuttons .edit{
    color: #fff;
    background-color: var(--light);
}

.taskbuttons .delete{
    color: #fff;
    background-color: var(--dark);
}

.done textarea{
    text-decoration: line-through;
}




/* DYNAMIC TIME & DATE */
.timedate{
    display: grid;
    justify-items: center;
}

.time {
    color: var(--dark);
    font-size: 5rem;
    font-weight: 500;
}

.date {
    color: var(--dark);
    font-size: 1.5rem;
    font-weight: 400;
}


