/*Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root{

    --bg: #fde7e8;
    --text: #17181e;
    --light: #00c9b0;
    --dark:  #653b85;
    --shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

/* RESET */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  
}

/* Reset borders of input, radio button. checkbox, buttons*/
input:not([type="radio"]):not([type="checkbox"]), button, textarea {
    appearance: none;
    border: none;
    background: none;
}

/* input[type="radio"], input[type="checkbox"]{
   display: none;
} */

body{
    background-color: var(--bg);
}

section{
    margin-top: 3rem;
    margin-bottom: 5rem;
} 

h3 {
    font-size:  1.5rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}


.container{
    margin-top: 6rem;
    margin-left: 30rem;
    margin-right: 30rem;
}


/* 
Introduction */
.intro{
    display: grid;
    justify-content: center;
    grid-auto-flow: column;
}

.intro h3{
    background: #603585;
    background: radial-gradient(ellipse farthest-corner at left center, #603585 0%, #40D1BE 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3.5rem;
}




/* DYNAMIC TIME & DATE */
.timedate{
    display: grid;
    justify-items: center;
}

.time {
    color: var(--dark);
    font-size: 5rem;
    font-weight: 500;
}

.date {
    color: var(--dark);
    font-size: 1.5rem;
    font-weight: 400;
}




/* Section Margins */
.clock{
    margin-top: 4rem;
}

.taskui{
    margin-top: 4rem;
}

.tasklist{
    margin-top: 4rem;
}





/* Priority Icons */
.fa-user{
    font-size: 1.45rem;
    margin-right: 0.75rem;
    color: var(--dark);
}

.fa-briefcase{
    font-size: 1.45rem;
    margin-right: 0.75rem;
    color: var(--dark);
}


/* Tasklist Small Icons */
.icon{
    font-size: 1.45rem;
    margin-right: 1.2rem;
    color: var(--dark);
}

.user::before {
    content: '\f007';
    font: var(--fa-font-solid);
}

.briefcase::before {
    content: '\f0b1';
    font: var(--fa-font-solid);
}






/* Taskbar */
.taskui h3{
    font-size: 2rem;
    background: #603585;
background: radial-gradient(ellipse farthest-corner at left center, #603585 0%, #40D1BE 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.taskui textarea{
    font-size: 1.45rem;
    color: var(--text);
}

.taskbar{
    display: grid;
    width: 100%;
    padding: 0.5rem 0.8rem;
    color: var(--text);
    background-color: #FFF;
    border-radius: 0.5rem;
    margin-bottom: 1.5rem;
    box-shadow: var(--shadow);
    border: 2px solid var(--dark);
}

.taskbar:hover{
    border: 2px solid var(--light);
}





/* Priority Buttons (Personal + Work) */
.priority {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin-bottom: 1.5rem;
    grid-auto-flow:column;
}

.prior {
    background-color: #fff;
    border-radius: 1rem;
    cursor: pointer;
    box-shadow: var(--shadow);
    border: 2px solid var(--dark);
}

.prior:hover{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    cursor: pointer;
    transition: ease-in-out 0.6s;
    border: 2px solid var(--light);
    opacity: 0.95;
}

/* Hide Radio button */
.prior input[type="radio"] {
    position: absolute;
    opacity: 0;
}

.prior-content {
    display: flex;
    padding: 2.5rem;
    border-radius: 1rem;
    position: relative;
    justify-content: center;
    font-size: 1.25rem;
    font-weight: 500;
}  

.prior input[type="radio"]:checked + .prior-content:after {
    content: "";
}

.prior input[type="radio"]:checked + .prior-content {
    background: #fff;
    transition: ease-in 0.3s;
}





/* Add Task Button */
.taskui input[type="submit"] {
    display: block;
    width: 100%;
    font-size: 1.15rem;
    padding: 1rem 1.15rem;
    color: #ffff;
    background-color: var(--light);
    border-radius: 0.5rem;
    transition: 0.2s ease-in-out;
}

.taskui input[type="submit"]:hover {
    opacity: 0.75;
}





/* Task List */
.tasklist h3{
    font-size: 2rem;
background: #603585;
background: radial-gradient(ellipse farthest-corner at left center, #603585 0%, #40D1BE 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}



.tasknote{
    margin: 1rem 0;

}

.taskitems {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 1rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    box-shadow: var(--shadow);
}

.taskitems label{
    display: block;
    margin-right: 1rem;
    cursor: pointer;
}

.taskcontent {
    display: grid;
    width: 80%;
    height: 2.5rem;
    color: var(--text);
    border-radius: 0.5rem;
    margin-right: 1rem;
    border: 2px solid #fff;
}

.taskcontent textarea{
    font-size: 1.25rem;
}

.taskcontent:hover{
    border: 2px solid var(--light);
    box-shadow: var(--shadow);
}


.taskbuttons{
    display: flex;
    align-items: center;
}

.taskbuttons button{
    display: block;
    padding: 0.5rem;
    border-radius: 0.25rem;
    background-color: #fff;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    margin: 0 0.5rem 0 0;
}

.taskbuttons button:hover{
opacity: 0.75;
}




/* Task Button - Edit & Delete */
.taskbuttons .edit{
    width: 70px;
    color: #fff;
    background-color: var(--light);
}

.taskbuttons .delete{
    width: 70px;
    color: #fff;
    background-color: var(--dark);
}

.done textarea{
    color: var(--text);
    text-decoration: line-through;
    text-decoration-color: var(--dark);
    text-decoration-thickness: 0.18rem;
}




.checkbox {
    position: relative;
    top: -0.375rem;
    margin: 0 1rem 0 0;
    cursor: pointer;
  }
  .checkbox:before {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    content: "";
    position: absolute;
    left: 0;
    z-index: 1;
    width: 1.1rem;
    height: 1.2rem;
    border: 3px solid var(--dark);
  }
  .checkbox:checked:before {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    height: 0.5rem;
    border-color: var(--light);
    border-top-style: none;
    border-right-style: none;
  }
  .checkbox:after {
    content: "";
    position: absolute;
    top: -0.125rem;
    left: 0;
    width: 1.1rem;
    height: 1.1rem;
    background: #fff;
    cursor: pointer;
  }
  


.footer{
    display: grid;
    
}







/*===========================================================================================*/
/*================== DEVICE BREAKPOINTS FOR MEDIA QUERY =====================================*/
/*===========================================================================================*/




/*================== LAPTOP/ SMALL DESKTOP ==================================================================================================================================================================================*/
@media only screen and (min-width: 1024px) and (max-width: 1980px) {
    .container{
        margin-top: 6rem;
        margin-left: 12rem;
        margin-right: 12rem;
    }
}

/*================== TABLET ==================================================================================================================================================================================*/
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    
.container{
    margin-top: 4rem;
    margin-left: 6rem;
    margin-right: 6rem;
}

.intro h3{
    font-size: 2.35rem;
}
}


/*================== SMARTPHONE ==================================================================================================================================================================================*/
@media only screen and (min-width: 320px) and (max-width: 767px) {

        
.container{
    margin-top: 4rem;
    margin-left: 1rem;
    margin-right: 1rem;
}


    .intro h3{
        font-size: 1.75rem;
    }

    .intro{
        grid-auto-flow: row;
        justify-content: center;
    }
    
    .time {
        font-size: 2.5rem;
    }
    
    .date {
        font-size: 1.35rem;
    }
    
    .priority {
        display: grid;
        grid-auto-flow:row;
    }

    .priority{
        column-gap: 0.5rem;
    }

    .prior-content {
        padding: 1rem;
        font-size: 1rem;
        font-weight: 500;
    }  
    
    .taskui h3{
        font-size: 1.5rem;
    }

    .tasklist h3{
        font-size: 1.5rem;
    }


/* Task Button - Edit & Delete */
.taskbuttons .edit{
    width: 40px;
}

.taskbuttons .delete{
    width: 40px;
}

.taskbuttons button{

    padding: 0.25rem;
    font-size: 10px;

}

.icon{
    font-size: 1rem;
    margin-right: 1rem;
}

.taskcontent{
    width: 85%;
    font-size: 0.75rem;
}

.done textarea{
    text-decoration-thickness: 0.05rem;
}


}